:root {
  --branding-color: #f4f4f4;
  --primary-color: #f6f3ef;
}

.Weather .title-case {
  text-transform: capitalize;
}

.Weather .icon img {
  width: 150px;
  height: auto;
}

.container {
  width: 100%;
  border-style: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.8);
  border-style: none;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.8);
  color: #134056;
  margin: 0 auto;
  width: 80%;
}

.grid-1 {
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  grid-gap: 10px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.box {
  font-size: 13px;
}
